@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        height: 100vh;
        box-sizing: border-box;
        /* font-family: "Poppins", sans-serif; */
        font-family: "Fira Sans", sans-serif;
        /* font-family: "Baloo Da 2", sans-serif; */
        scroll-behavior: smooth;
    }

    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
}

@layer utilities {
    @variants responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}

@layer components {
    .container {
        @apply mx-auto max-w-[75rem] px-4 sm:px-6 lg:px-8;
    }

    .background-home {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .menu-button {
        @apply text-lg font-bold text-text_color;
    }
    .bn_text {
        font-family: "Baloo Da 2", sans-serif;
    }

    .nav {
        position: fixed; /* Make it stick/fixed */
        top: 0; /* Stay on top */
        transition: top 0.3s;
        width: 100%;
    }
    .order_method {
        background-image: url('/public/images/bh_2.png'), url('/public/images/mango_bg.png');
        background-position: left bottom, right bottom;
        background-size: 500px, 500px;
        background-repeat: no-repeat, no-repeat;
    }
    .pproduct_active{
        @apply border-2 border-text_color;
    }
}
